# Port number
PORT=5000
API_MAIN_URL=""
# API_BASE_URL=http://localhost:5000
API_BASE_URL=http://3.14.18.165:5000


PROJECT_NAME=test


# URL of the Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017/test

SENDER_EMAIL=dfdgfdgfd@gmail.com
SENDER_PASSWORD=fgret@123456

# JWT

# JWT secret key
JWT_SECRET=%#%$FDFGVRG%HRTB%^TG^$G

# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=1440

# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30

# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10

# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# Number of minutes after verification Link expires
JWT_VERIFICATION_LINK_EXPIRATION_MINUTES=15

# S3 credentials
REGION=us-east-2
ACCESSKEYID=AKIAYJ3QbvbvOYDGPO7JYH5A
SECRETACCESSKEY=P5hFm5QR0Ck9O+S/LA+ZvbvbvW5UGux5uQPuuJFIcTLV2